header {
    display: block;
    margin: 10px auto;
    width: 500px;
    text-align: center;
}

header h1 {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
}

header #beginGame {
    display: block;
    margin: 20px auto;
    width: 100px;
    padding: 10px 10px;
    background: #8f7a66;
    font-family: Arial;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

header #beginGame:hover {
    background: #9f8b77;
}

header p {
    font-family: Arial;
    font-size: 25px;
    margin: 20px auto;
}

#grid-container {
    width: 500px;
    height: 500px;
    border: 1px solid #aaa;
    margin: 0px auto;
    background-color: #bbada0;
    position: relative;
    border-radius: 10px;
}

#grid-container .grid-cell {
    display: inline-block;
    border: 3px solid #aaa;
    border-radius: 8px;
    text-align: center;
    background: #ccc0b3;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    position: absolute;
}